body {
    background: url("../workshop_se_598.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.main_content{
    display: block;
    position: absolute;
    top:35%;
    left: 50%;
    width:800px;
    margin-left: -400px;
    text-align: center;
    font-family: Georgia;
    font-size:40px;
    font-weight: bolder;
}
.box{
    padding-top: 3%;
    padding-bottom: 3%;
    position: inherit;
    color: #ffffff;
    text-align: center;
    margin: 30px;
    border-radius: 20px;
    height: 85%;
    background-color: rgba(0,0,0,0.7);
    border: 1px solid black;
}
form{
    display: block;
    position: absolute;
    width: 30%;
    left: 50%;
    opacity: unset;
    margin-left: -15%;
}
form input{
    border: 4px;
    animation: 0.2s;
}
form input:valid{
    border: 3px solid greenyellow;
    animation: 0.2s;
}
form input:invalid{
    border: 3px solid orangered;
    animation: 0.2s;
}